#containerHome {
  overflow: hidden;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  background: linear-gradient(to top, #e66465 10%, #9198e5 70%);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(rgba(166, 166, 166, 0.571), rgb(0 0 0 / 65%));
    z-index: 0;
  }

  & > div {
    position: relative;
    z-index: 10;
  }
}

#scrollY {
  width: 100%;
  overflow-y: auto;
  margin-bottom: 100px;
}
